*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'SF Pro Display' , sans-serif;
}
body{
    overflow-x: hidden;
}
header{
    border: 0.5px solid rgb(207, 207, 207);
    z-index: 3000;
    position: sticky;
    top:0
}
.navtop{
    background-color: rgb(246, 247, 248);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.dropdown1{
    position: relative;
    color: rgb(38, 38, 38);
    padding: 15px 0;
    input{
        display: none;
    }
}
.dropdown1head{
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: 550;
    img{
        height: 22px;
        width: 10px;
        transform: rotate(180deg);
        transition: 0.5s;
    }
    .ddhc{
        margin-left: 15px;
        align-items: center;
        display: flex;
        gap: 5px;
        cursor: pointer;
    }
}
.dropdown1content{
    position: absolute;
    z-index: 3000;
    margin-top: 16px;
    background-color: white;
    font-weight: 550;
    width: 120px;
    line-height: 55px;
    font-size: 16px;
    display: none;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.15);
    #selected{
        background-color: rgb(245, 245, 245);
    }
    li{
        padding-left: 7px;
    }
}
.dropdown1content::after{
    content: "";
    width: 0;
    height: 0;
    margin-top: -8px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0;
    right: 25px;
    transform: rotate(180deg);
}
#inp1:checked ~ .dropdown1content{
    display: block;
}
#inp1:checked ~ .dropdown1head label img{
    transform: rotate(0deg);
}
.navtopright{
    display: flex;
    align-items: center;
    gap: 15px;
    #searchlogo{
        margin-top: 2px;
        width: 14px;
        height: 12px;
    }
    button{
        background-color: initial;
        border: none;
    }
    button:active #searchlogo {
        filter: invert(34%) sepia(100%) saturate(2500%) hue-rotate(200deg) brightness(105%) contrast(105%);
    }
}
.dropdown2{
    font-weight: 300;
    padding: 15px 0;
    input{
        display: none;
    }}
    .dropdown2head{
        display: flex;
        position: relative;
        font-size: 14px;
        img{
            height: 22px;
            width: 10px;
            transform: rotate(180deg);
            transition: 0.5s;
        }
        .ddhc2{
            margin-left: 15px;
            align-items: center;
            display: flex;
            gap: 5px;
            cursor: pointer;
        }
    }
    .dropdown2content{
        z-index: 3000;
        margin-top: 16px;
        background-color: white;
        line-height: 55px;
        font-size: 16px;
        display: none;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.15);
        #selected{
            background-color: rgb(245, 245, 245);
        }
        li{
            display: flex;
            align-items: center;
            gap:5px;
            img{
                height: 24px;
                width: 24px;
            }
            padding: 0 95px 0 15px;
        }
    }
    .dropdown2content::after{
        content: "";
        width: 0;
        height: 0;
        margin-top: -8px;
        margin-right: auto;
        margin-left: auto;
        border-style: solid;
        border-width: 9px 9px 0 9px;
        border-color: #ffffff transparent transparent transparent;
        position: absolute;
        top: 0;
        right: 25px;
        transform: rotate(180deg);
    }
    #inp3:checked ~ .dropdown2content{
        display: block;
        position: absolute;
        right:60px;
    }
    #inp3:checked ~ .dropdown2head label img{
        transform: rotate(0deg);
    }
    #tel{
        font-weight: 600;
        color: rgb(102, 102, 102);
        font-size: 14px;
        cursor: pointer;
    }
    .navbottom{
        background-color: white;
        height: 75px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #imglogo{
            height: 38px;
            width: 84px;
        }
        #hamburger{
            height: 32px;
            width: 32px;
        }
        button{
            background-color: initial;
            border:none
        }
    }
    #inp4,#inp2{
        display: none;
    }
    #search{
        display: none;
        height: 100%;
        width: 100%;
        input{
            border: 1px solid black;
            color: rgb(159, 159, 159);
            width: 83%;
            font-size: 18px;
            font-weight: 300;
            outline: none;
            border: none;
            background-color: #ffffff;
        }
        input[type="search"]::-webkit-search-cancel-button {
            display: none;
        }
        input::placeholder {
            color: rgb(159, 159, 159); 
            font-size: 18px; 
            font-weight: 300;
        }
        button{
            border: none;
            background-color: initial;
            img{
                height: 32px;
                width: 32px;
            }
        }
    }
    #inp2:checked ~ #search {
        display: flex;
        justify-content: space-between;
    }
    #inp2:checked ~ img{
        display: none;
    }
    #inp2:checked ~ .navbut{
        display: none;
    }
    #inp4{
        display: none;
    }
    #x{
        display: none;
    }
    #inp4:checked ~ header .navbottom #x{
        display: flex;
    }
    #inp4:checked ~ header .navbottom #bar{
        display: none;
    }
    #inp4:checked ~ .sidebar{
        right:0;
    }
    .sidebar{
        position: fixed;
        z-index: 2000;
        top:127.5px;
        bottom: 0;
        right: -100%;
        background-color: white;
        width: 100%;
        max-height: 2000%;
        transition: .5s;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    .sidebartop{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        gap:8px;
        font-weight: 600;
        #sdb1{
            height: 42px;
        }
        div{
            display: flex;
            justify-content: center;
            height: 40px;
            align-items:center;
            cursor: pointer;
            gap:10px;
            background-color: #0056c1;
            color: white;
            img{
                filter: invert(1) brightness(200%) saturate(0) ;
                width: 24px;
            }
        }
    }
    .sidebarnav{
        padding:40px 15px;
        display: flex;
        align-items: center;
        gap:15px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        div{
            display: flex;
            padding: 0 10px;
            background-color: #f9f9f9;
            color: #666;
            height: 53px;
            cursor: pointer;
            font-weight: 300;
            font-size: 14px;
            justify-content: center;
            align-items: center;
        }   
    }
    .sidebarnav::-webkit-scrollbar {
        height: 4px; 
    }
    
    .sidebarnav::-webkit-scrollbar-thumb {
        background-color: rgb(59, 138, 224); 
        cursor: grab;
    }
    
    .sidebarnav::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
    .sidebaraccordion{
        font-size: 18px;
        display: flex;
        height: 100%;
        flex-direction: column;
        padding-top: 3px;
        .acc,.acc2,.acc3,.acc4,.acc5,.acc6,.acc7,.acc8{
            max-height: 0;
            transition: 0.5s;
            overflow: hidden;
            font-weight: 300;
            color: #262626;
            font-size: 16px;
            div{
                padding-left: 20px;
                padding-bottom:20px ;
            }
        }
        #inp5:checked ~ .accordioncontent .acc{
            max-height: 300px;
        }
        #inp5:checked ~ .accordioncontent .accclick img{
           transform: rotate(0deg);
        }
        #inp5{display: none;}
        
        #inp6:checked ~ .accordioncontent .acc2{
            max-height: 300px;
        }
        #inp6:checked ~ .accordioncontent .accclick2 img{
           transform: rotate(0deg);
        }
        #inp6{display: none;}
        #inp7:checked ~ .accordioncontent .acc3{
            max-height: 500px;
        }
        #inp7:checked ~ .accordioncontent .accclick3 img{
           transform: rotate(0deg);
        }
        #inp7{display: none;}
        #inp8:checked ~ .accordioncontent .acc4{
            max-height: 300px;
        }
        #inp8:checked ~ .accordioncontent .accclick4 img{
           transform: rotate(0deg);
        }
        #inp8{display: none;}
        #inp9:checked ~ .accordioncontent .acc5{
            max-height: 300px;
        }
        #inp9:checked ~ .accordioncontent .accclick5 img{
           transform: rotate(0deg);
        }
        #inp9{display: none;}
        #inp10:checked ~ .accordioncontent .acc6{
            max-height: 300px;
        }
        #inp10:checked ~ .accordioncontent .accclick6 img{
           transform: rotate(0deg);
        }
        #inp10{display: none;}
        #inp11:checked ~ .accordioncontent .acc7{
            max-height: 300px;
        }
        #inp11:checked ~ .accordioncontent .accclick7 img{
           transform: rotate(0deg);
        }
        #inp11{display: none;}
        #inp12:checked ~ .accordioncontent .acc8{
            max-height: 300px;
        }
        #inp12:checked ~ .accordioncontent .accclick8 img{
           transform: rotate(0deg);
        }
        #inp12{display: none;}
    }
    .accordioncontent{
        display: flex;
        flex-direction: column;
        gap:10px;
        border-top: 0.5px solid #e1dede;
        border-bottom: 0.5px solid #e1dede;
    }
    .accclick,.accclick2,.accclick3,.accclick4,.accclick5,.accclick6,.accclick7,.accclick8{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 20px 20px 10px 20px;
        img{
           transform: rotate(180deg);
           transition: 0.5s;
        }
    }
    .desktopheader{
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: white;
    }
    .desktopheadertop{
        display: flex;
        height: 50px;
        gap: 100px;
        font-size: 14px;
        align-items: center;
        justify-content: space-between;
        color: rgb(102, 102, 102);;
        background-color:  rgb(246, 247, 248);
        padding: 0 40px;
    }
    .desktopheadertopleft{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        gap:30px;
        span{
            font-size: 14px;
            font-weight: 300;
        }
        span:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .desktopheadertopright{
        display: flex;
        padding: 20px 0;
        gap: 25px;
        align-items: center;
        button{
            border: none;
            background-color: initial;
        }
        #desktopsearchbutton{
            display: flex;
            gap: 5px;
            
            cursor: pointer;
            font-size: 14px;
            color: rgb(102, 102, 102);;
            font-weight: 300;
            margin-top: -2px;
            img{
                width: 14px;
            }
        }
        
        #desktel{
            font-weight: 600;
            color: rgb(102, 102, 102);
            gap:5px;
            font-size: 14px;
            cursor: pointer;
            display: flex;
            flex-direction: row !important;
        }
    }
    .dropdown3head{
        display: flex;
        font-size: 14px;
        position: relative;
        img{
            height: 22px;
            width: 10px;
            transform: rotate(180deg);
            transition: 0.5s;
        }
        .ddhc3{
            margin-left: 15px;
            align-items: center;
            display: flex;
            gap: 5px;
            cursor: pointer;
        }
    }
    .dropdown3content{
        z-index: 3000;
        position: absolute;
        margin-top: 16px;
        background-color: white;
        line-height: 55px;
        font-size: 16px;
        display: none;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.15);
        #selected{
            background-color: rgb(245, 245, 245);
        }
        li{
            display: flex;
            align-items: center;
            gap:5px;
            img{
                height: 24px;
                width: 24px;
            }
            padding: 0 95px 0 15px;
        }
    }
    .dropdown3content::after{
        content: "";
        width: 0;
        height: 0;
        margin-top: -8px;
        margin-right: auto;
        margin-left: auto;
        border-style: solid;
        border-width: 9px 9px 0 9px;
        border-color: #ffffff transparent transparent transparent;
        position: absolute;
        top: 0;
        right: 25px;
        transform: rotate(180deg);
    }
    #inp14{
        display: none;
    }
    #inp14:checked ~ .dropdown3content{
        display: block;
        top: 34px;
    }
    #inp14:checked ~ .dropdown3head label img{
        transform: rotate(0deg);
    }
    .desktopheadersbottom{
        height: 150px;
    }
    #desktopsearch{
        height: 100%;
        display: none;
        justify-content: space-between;
        padding-right: 40px;
        width: 100%;
        transition: 1s;
        button{
            border: none;
            background: none;
        }
        img{
            height: 29px;
            width: 30px;
        }
        input[type="search"]::-webkit-search-cancel-button {
            display: none;
        }
        input{
            color: #9f9f9f;
            font-size: 40px;
            padding: 55px 40px 66px 40px;
            font-weight: 300;
            height: 100%;
            width: 95%;
            border: none;
            outline: none;
        }
    }
    #inp13:checked ~ .desktopheader .desktopheadertop .desktopheadertopright button label #desktopsearchbutton {
        filter: invert(34%) sepia(100%) saturate(2500%) hue-rotate(200deg) brightness(105%) contrast(105%);
    }
    #inp13{
        display: none;
    }
    #inp13:checked ~ .desktopheader .desktopheadersbottom #desktopsearch{
        display: flex;
    }
    #inp13:checked ~ .desktopheader .bottomswitch {
        display: none;
    }
    .desktopheadersbottomstop{
        height: 74px;
        border-bottom: 0.1px solid  rgb(238, 235, 235);
        display: flex;
        align-items: center;
        padding: 0 40px;
        width: 100%;
        justify-content: space-between;
    }
    .desktopheadersbottomstopleft{
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .desktopheadersbottomstopleftleft{
        img{
            width: 110.52px;
            height: 50px;
            margin-top: 4px;
        }
    }
    .desktopheadersbottomstopleftright{
        display: flex;
        gap:15px;
        font-weight: 500;
        font-size: 15px;
        span{
            color: #9f9f9f;
        }
        .cursorspan{
            cursor: pointer;
            display: flex;
            gap: 18px;
            justify-content: center;
        }
        #kicik:hover{
            span{
               color:  #262626;;
            }
        }
        #kob:hover{
            span{
                color: #262626;
            }
        }
        #kor:hover{
            color: #262626;
        }
        #ferdi{
            span{
                color: #262626;
            }
        }
    }
    .desktopheadersbottomstopright{
        display: flex;
        gap:25px;
        color: #2058bb;
        align-items: center;
        font-weight: 600;
        img{
            width: 24px;
            height: 24px;
        }
        div{
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
    }
    .dektopheadersbottomsbottom{
        border-bottom: 3px solid rgb(238, 235, 235);
    }
    .megamenu{
        position: relative;
        color: #17253a;
        font: 15px;
        font-weight: 400;
        height: 74.3px;
        position: relative;
        display: flex; 
        .bluehover{
            display: flex;
            position: relative;
            align-items: center;
            cursor: pointer;
            font-size: 15px;
            color: #17253a;
            height: 100%;
        }
        .kartlar{
            display: flex;
            align-items: center;
            height: 100%;
            padding-right: 24px;
        }
        #kart1{
            margin-left: 40px;
        }
    }
    .bluehover::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 3px; 
        background-color: rgb(59, 138, 224); 
        border-radius: 2px;
        transition: width 0.2s ease, left 0.3s ease; 
    }
    .bluehover:hover::before {
        width: 100%; 
        left: 0;
    }
    .bluehover:hover ~ .kartlarborder{
        display: flex;
    }
    .kartlarborder:hover{
        display: flex;
    }
    .kartlarcontent{
        display: flex;
        flex-direction: row;
        border-left: 0.1px solid rgb(251, 251, 251);
        border-right: 0.1px solid rgb(251, 251, 251);
        height: 100%;
        width: 100%;
        color: #262626;
        padding: 40px 0 40px 50px;
        background-color: white;
        font-size: 17px;
        font-weight: 300;
        .mgmclose{
            margin-left: auto;
            button{
                background: initial;
                border: none;
                img{
                    cursor: pointer;
                }
            }
        }
    }
    .kartlarborder{
        display: none;
        position: absolute;
        top:74px;
        border-top: 0.5px solid rgb(238, 235, 235);
        left: 0;
        padding:0 40px;
        right:0;
        min-width: 100%;
        z-index: 3000;
        background-color: white;
    }
    .contentcolumn{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-right: 48px;
        span{
        cursor: pointer;
        max-width: 200px;}
    }
    .contentcolumnimg{
        max-width: 58%;
        margin-left: auto;
        display: flex;
        gap: 30px;
        padding: 0 24px 0 48px;
        border-left: 0.5px solid rgb(238, 235, 235);
        img{
            height: 217px;
            width: 340px;
        }
        .onlinekredit{
            display: flex;
            flex-direction: column;
            gap: 30px;
            h4{
                font-size: 24px;
                font-weight: 500;
                width: 243px;
            }
            button{
                cursor: pointer;
                background: initial;
                border-radius: 5px;
                color: #262626;
                height: 50px;
                width: 150px;
                font-size: 16px;
                font-weight: 500;
                padding: 14px 33px;
                &:hover{
                    background-color: #262626;
                    color: white;
                }
            }
        }
    }
    .swiper-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        color: #262626;
        h3{
            font-size: 30px;
            font-weight: 600;
            line-height: 50px;
        }
        p{
            font-size: 14px;
            font-weight: 500;
            margin-top: 30px;
        }
        button{
            margin-top: 20px;
            height: 56px;
            width: 94px;
            border: 1px solid #262626;
            border-radius: 5px;
            background-color: initial;
            a{
                font-size: 16px;
                color: #262626;
                font-weight: 500;
            }
        }
        #sifarish{width: 128px;}
    }

    .swiper-wrapper {
        display: flex;
        transition: transform 0.5s ease;
        
    }

    .swiper-slide {
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 20px;
        background: linear-gradient(90deg, #E1EBFF 9.88%, #AFB9CD 92.09%);
    }

    .swiper-slide img {
        max-height: 300px;
        border-radius: 8px;
    }
    .swiper-pagination {
        position: absolute; 
        bottom: 30px; 
        left: 50%; 
        transform: translateX(-50%); 
        display: flex;
        gap: 10px;
    }
    
    .swiper-pagination-bullet {
        width: 35px;
        height: 4px;
        background-color: rgb(231, 235, 242);
        cursor: grab;
        transition: background-color 0.3s ease;
    }
    
    .swiper-pagination-bullet-active {
        background-color:white;
    }
    
    .section2{
        padding: 48px 15px; 
        h2{
            font-size: 24px;
            color: #262626;
            font-weight: 600;
            margin-bottom: 16px;
        }
    }
    .articles{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
    article{
        position: relative;
        background: linear-gradient(90deg, #f5f6f7, #f0f4f9);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        max-width: 690px;
        height: 204px;
        flex-grow: 1.1;
        margin: auto;
        .articleright{
            align-self: flex-end;
            height: 190px;
            width: 110px;
            background-image: url(/images/1718092914_04.webp);
            background-size: contain;
            background-repeat: no-repeat;
            flex-shrink: 0;
        }
        #art2img{
            background-image: url(/images/200man.webp);
            background-position: center top 15px;
        }
        #art3img{
            background-image: url(/images/1723100043_abb-biz-kecid.webp);
        }
        #art4img{
            background-image: url(/images/1632142837_sade-kecidler-2.webp);
            background-position: center top 16px;
        }
        #art5img{
            background-image: url(/images/1718092942_01.webp);
            background-position: center top 15px;
        }
        #art6img{
            background-image: url(/images/1718092962_03.webp);
        }
    }
    .articleleft{
        padding: 28px 24px;
        h3{
            font-weight: 500;
            font-size: 18px;
            color: #262626;
        }
        p{
            color: #6f7071;
            font-size: 15px;
            margin: 5px 0 16px;
            font-weight: 400px;
            max-width: 306px;
            line-height: 20px;
        }
        button{
            position: absolute;
            bottom: 24px;
            padding: 12px 16px;
            background-color: #2058bb;
            border: none;
            border-radius: 6px;
            color: white;
            font-size: 15px;
            font-weight: 600;
        }
    }
    @media only screen and (max-width: 1000px) {
        .desktopheader{
            display: none;
        }
        .swiper-slide {
            flex-direction: column;
            text-align: center;
        }

        .swiper-slide img {
            margin-top: 20px;
            animation: slide-in 0.5s ease-in-out;
        }

        @keyframes slide-in {
            from {
                transform: translateY(-50%);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    @media only screen and (min-width:1000px){
        .mobileheader{
            display: none;
        }
        .swiper-container{
        h3{
            font-size: 45px;
            max-width: 410px;
        }
        p{
            font-size: 18px;
        }
        button{
            margin-top: initial;
            width: 111px;
            height: 54px;
            margin-top: 55px;
            &:hover{
                background-color: #262626;
                a{
                    color: white;

                }
            }
        }
        #sifarish{width: 148px;}
        }

        .swiper-slide{
            padding: 0px 60px;
            img{
                max-height: 500px;
            }
        }
        .swiper-pagination {
            left: 10%;
        }
        .section2{
            padding: 130px 60px;
            h2{
                font-size: 32px;
                margin-bottom: 24px;
            }
        }
        article{
            width: 390px;
            margin: none;
        }
        .articleleft{
            p{
                width: 218px;
            }
            button:hover{
                cursor: pointer;
                background-color: #1c4b9d;
                color: rgb(219, 219, 219);
            }
        }
    }
    @media only screen and (max-width:1230px)  {
        .desktopheadertopleft{
            gap:15px;
            padding: 10px 0;
            line-height: 5px;
        }
        .contentcolumnimg{
            img{
                display: none;
            }
        }
      }